body {background-image: url('Door1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1500px 1000px;
    font-family:Cormorant Infant;
    }
    h1   {color: whitesmoke;
    font-family:Cormorant Infant;
    font-size: 300%;
    text-align: center;}
    
    h2   {color: black;
    font-family: Cormorant Infant;
    font-size: 90%;
    text-align:center;}
    
    ol   {color: black;
      font-family:Cormorant Infant;
    font-size: 100%;
    }
    
    pre {color:whitesmoke;
    font-family:Cormorant Infant;
    font-size: 80%;
    text-align: center;}

    h3 {color:whitesmoke;
      font-family:Cormorant Infant;
      background-color: black;
      width: 420px;
      height: 200px;
      margin: 50px 50px;
      font-size: 200%;
      text-align: center;

    }
    
    .button {
        width: 250px;
        height: 100px;
    background-color: black;
    color:white;
    padding: 8px 16px;
    font-family:Cormorant Infant;
    text-align: center;
    font-size: 25px;
    margin: 50px 26px;
    cursor: pointer;
    }
    
    header {
          
          padding: 20px;
          margin: 50px 26px;
          text-align: center;
          
          font-size: 15px;
          color: lightblue;
      }
    
    footer {
      
      text-align: center;
      font-size: 25px;

      
    }
    
    nav {
      float: left;
      width: 30%;
      height: 280px; 
      background: grey;
      padding: 20px;
    }
    
    article {
      color:white;
      text-align: center;
      margin: 50px 26px;
    font-family: Cormorant Infant;
    font-size: 200%;
    
    }
    
    