
body {background-image: url('Door.jpg');

background-repeat: no-repeat;
background-attachment: fixed;
background-size: 1500px 1000px;
font-family:Cormorant Infant;
}
h1   {color: white;
font-family:Cormorant Infant;
font-size: 400%;
text-align: center;}

h2   {color: black;
font-family: Cormorant Infant;
font-size: 90%;
text-align:center;}



pre {color:black;
font-family:Cormorant Infant;
font-size: 100%;
margin: 30px 50px;
}

.button {
width: 430px;
height: 200px;
margin: 15px 30px;
background-color: white;
font-family:Cormorant Infant;
text-align: center;
font-size: 15px;
cursor: pointer;
}

header {
      
      padding: 20px;
      margin: -70px 26px;
      text-align: center;
      
      font-size: 15px;
      color: lightblue;
  }

  div {
    
    padding: 20px; 
    width: 300px;
    resize: both;
    margin: 30px 30px;
    display: inline-block;
    width: 600px;
  }

  footer { 
    text-align: center;
    margin: -30px 10px;
    
  }

nav {
  float: left;
  width: 30%;
  height: 280px; 
  background: grey;
  padding: 20px;
}

article {
  color:white;
  text-align: center;
  margin: 50px 26px;
font-family: Cormorant Infant;
font-size: 250%;

}





