
body {background-image: url('Door.jpg');
background-repeat: repeat-x;
background-attachment: ;
background-size: 1500px 1000px;
font-family:Cormorant Infant;
}
h1   {color: black;
font-family:Cormorant Infant;
font-size: 400%;
text-align: center;}

h2   {color: black;
font-family: Cormorant Infant;
font-size: 90%;
text-align:center;}

ol   {color: black;
  font-family:Cormorant Infant;
font-size: 100%;
}

pre {color:whitesmoke;
font-family:Cormorant Infant;
font-size: 100%;
text-align: center;}

.button {
width: 400px;
height: 300px;
margin: 300px;
background-color: black;


font-family:Cormorant Infant;

text-align: center;
font-size: 15px;
margin: 40px 20px;
cursor: pointer;
}

.button1 {
  width: 400px;
height: 300px;
background-color: black;


font-family:Cormorant Infant;

text-align: center;
font-size: 15px;
margin: 40px 20px;
cursor: pointer;
}
.button2 {
  width: 400px;
height: 300px;
background-color: black;


font-family:Cormorant Infant;

text-align: center;
font-size: 15px;
margin: 40px 20px;
cursor: pointer;
}



header {
      
      padding: 20px;
      margin: 50px 26px;
      text-align: center;
      
      font-size: 15px;
      color: lightblue;
  }

  footer {
      
    text-align: center;
    

    
  }

nav {
  float: left;
  width: 30%;
  height: 280px; 
  background: grey;
  padding: 20px;
}

article {
  color:white;
  text-align: center;
  margin: 50px 26px;
font-family: Cormorant Infant;
font-size: 250%;

}

